$primColor : #ec5242;
// $enable-responsive-font-sizes : true;

@font-face {
    font-family: cocogoose;
    src: url(fonts/cocogoose.ttf);
    /* dafont.com */
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato.ttf);
    /* Google fonts */
}

.main {
    font-family: lato, sans-serif;
}

.top-nav {
    background-color: #3e3e3e;
}

.bot-nav {

    .bot-nav-img {
        max-height: 80px;
    }
}

.position-rel {
    position: relative;
}

.border-head::after {
    content: "";
    position: absolute;
    width: 30px;
    bottom: -17px;
    border-bottom: 2px solid $primColor;
}

.border-3 {
    border-width: 3px !important;
}

.font-coco {
    font-family: cocogoose;
}

.prim-color {
    color: #ec5242;
}

.prim-bg {
    background-color: #ec5242;
}

.text-bg,
.about-text-bg {
    background: linear-gradient(#e9301bc6, #e22d18a8), url(../imgs/main/bg-text.jpg) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: top;
    background-size: cover;
    font-size: 8vw;
}

.border-color {
    border-color: lightgray;
}

/* Mobile Nav Menu * Made by Erik Terwan (MIT)
* With my Modifications */
.menuToggle {

    display: block;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -2px;
        left: 15px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    span {
        display: block;
        width: 39px;
        height: 6px;
        margin-bottom: 5px;
        position: relative;
        background: #232323; //Burger Color
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    input:checked~ul {
        transform: none;
    }

    .menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        li {
            padding: 10px 0;
            font-size: 22px;

            a {
                text-decoration: none;
                color: #232323;
                transition: color 0.3s ease;
            }

            :hover {
                color: tomato;
            }
        }
    }

}

/* Mobile Nav Menu End */

.jumbotron {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/main/bg-main.png") center no-repeat;
    background-size: cover;
    height: 100%;
}

.our-prog,
.our-tech,
.about-our-tech {
    /* flex contanier */
    background-image: url('../imgs/metal-pattern.png');
    background-repeat: repeat;
    background-size: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .cards {
        .card {
            background-color: rgba(255, 255, 255, 0.061);

            .card-body {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 40px;

                i {
                    font-size: 2rem;
                }

                .card-title {
                    text-align: left;
                }

                .card-text {
                    font-size: 80%;
                    text-align: left;

                    .head-line::after {
                        content: "";
                        position: absolute;
                        width: 30px;
                        bottom: -10px;
                        border-bottom: 2px solid lightgray;
                    }
                }
            }
        }
    }
}

.our-tech,
.about-our-tech {
    background-image: none;
    background-color: #f8f8f8;
}

.about-our-tech {
    background-color: #fff;
}

.partners {
    background-color: #414246;

}

.footer {
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    .text-bg {
        font-size: 18vw;
    }

    .about-text-bg {
        font-size: 15vw;
    }

    .our-prog,
    .our-tech,
    .about-our-tech {
        .cards {
            .card {
                .card-body {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    i {
                        font-size: 2rem;
                    }

                    .card-title {
                        font-size: 0.8em;
                    }
                }
            }

            .btn {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .our-prog {

        .cards {
            display: flex;
            justify-content: center;
            gap: 10px;

            .card {
                height: 300px;
                width: 250px;

                .card-body {
                    flex-direction: column;
                    align-content: flex-start;
                    gap: 20px;

                    .card-title {
                        text-align: center;
                    }

                    .card-text {
                        text-align: center;
                    }
                }
            }
        }
    }

    .our-tech,
    .about-our-tech {
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .card {
                width: 100%;
            }
        }
    }

    .about-our-tech .cards .card {
        width: 50%;
    }

    .about-footer {
        background-color: #3e3e3e;
        color: white;
    }
}

@media (min-width: 992px) {

    .our-tech,
    .about-our-tech {
        .cards {
            .card {
                width: 50%;
            }
        }
    }
}